work_dir_openmic/lr_vggish/epoch=23-val_mAP=0.817.ckpt filter=lfs diff=lfs merge=lfs -text
work_dir_magna/east_final_pann/epoch=82-val_mAP=0.450.ckpt filter=lfs diff=lfs merge=lfs -text
work_dir_magna/lr_pann/epoch=39-val_mAP=0.442.ckpt filter=lfs diff=lfs merge=lfs -text
work_dir_magna/lr_passt/epoch=14-val_mAP=0.464.ckpt filter=lfs diff=lfs merge=lfs -text
work_dir_openmic/east_kd_openl3/epoch=70-val_mAP=0.847.ckpt filter=lfs diff=lfs merge=lfs -text
work_dir_openmic/east_kd_vggish/epoch=70-val_mAP=0.857.ckpt filter=lfs diff=lfs merge=lfs -text
work_dir_openmic/lr_passt/epoch=11-val_mAP=0.865.ckpt filter=lfs diff=lfs merge=lfs -text
work_dir_magna/east_final_openl3/epoch=93-val_mAP=0.448.ckpt filter=lfs diff=lfs merge=lfs -text
work_dir_openmic/east_final_pann/epoch=90-val_mAP=0.860.ckpt filter=lfs diff=lfs merge=lfs -text
work_dir_openmic/east_final_passt/epoch=96-val_mAP=0.864.ckpt filter=lfs diff=lfs merge=lfs -text
work_dir_openmic/east_final_vggish/epoch=75-val_mAP=0.854.ckpt filter=lfs diff=lfs merge=lfs -text
work_dir_magna/east_final_passt/epoch=64-val_mAP=0.466.ckpt filter=lfs diff=lfs merge=lfs -text
work_dir_magna/lr_openl3/epoch=26-val_mAP=0.417.ckpt filter=lfs diff=lfs merge=lfs -text
work_dir_openmic/lr_openl3/epoch=16-val_mAP=0.808.ckpt filter=lfs diff=lfs merge=lfs -text
work_dir_magna/east_final_vggish/epoch=67-val_mAP=0.451.ckpt filter=lfs diff=lfs merge=lfs -text
work_dir_magna/lr_vggish/epoch=82-val_mAP=0.414.ckpt filter=lfs diff=lfs merge=lfs -text
work_dir_openmic/east_final_openl3/epoch=62-val_mAP=0.851.ckpt filter=lfs diff=lfs merge=lfs -text
work_dir_openmic/lr_pann/epoch=5-val_mAP=0.865.ckpt filter=lfs diff=lfs merge=lfs -text
